.App {
  text-align: center;
}

.modalDiv {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(91, 112, 131, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  margin:'auto';
  width: '25%';
  height: '50%';
  background-color: white;
  border-radius: 5px;
}